@font-face {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url();
}

.mainRoot {
    display: grid;
    background-color: #2b2b2bbd;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 'data time balance'
                         'notes notes notes';
    padding: 1rem;
    gap: 1rem;
}

.mainRoot, .settingsContainer > * {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.884);
}

.dashboardEl {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    background-color: #1f1f1f;
    border: 1px ridge rgba(255, 255, 0, 0.637);
    padding: 1rem;
}

.dashboardBtn {
    height: 2rem;
    width: 100%;
    background-color: #ffd86e;
    border-color: #f4ff8e;
    cursor: pointer;
    color: #000;
    font: 1em system-ui;
}

.dashboardBtn:hover {
    transition: 0.2s;
    box-shadow: 3px 3px 3px 3px #e6e5aa07;
    background-color: #ffffff00;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 80%;
    border-top: 1px solid #574b4b;
}

.notes {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    background-color: #1f1f1f;
    border: 1px ridge rgba(255, 255, 0, 0.637);
    padding: 1rem;
    grid-area: notes;
}

.dashboardEl > h3 {
    align-self: center;
}

/*-------------------------------Настройки дешборда------------------------------------*/

.settingsContainer {
    display: flex;
    background-color: #2b2b2bbd;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/*------------------------------Настройки страницы баланса----------------------------------*/

.balanceMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    font-weight: 700;
}

.operationDiv {
    gap: 0.6rem;
    flex-direction: column;
    border-bottom: 1px solid black;
    width: 100%;
}

.operationLog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}